/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans&display=swap');

/* Basic */

* {
	margin: 0;
	padding: 0;
}

html,
body,
.Container {
	height: 100%;
	font-family: 'Alegreya Sans', sans-serif;
}

body {
	background-color: #e9e8e6;
}

.btn {
	border-radius: 10;
}

a:link,
a:hover,
a:visited {
	text-decoration: none;
	color: #000;
}

a:link.white,
a:hover.white,
a:visited.white {
	text-decoration: none;
	color: #fff;
}

.bold {
	font-weight: bold;
}

h1 {
	font-size: 3.5rem;
}

h2 {
	font-size: 1.5rem;
}

p {
	color: #000;
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 1.2rem;
}

.min-100 {
	min-height: 100%;
}


/* Spacing */

.no-gutter {
	margin-right: 0;
	margin-left: 0;
	padding-right: 0;
	padding-left: 0;
}


/* Navbar */

.navbar {
	position: absolute;
	z-index: 99999;
	top: 0;
	width: 100%;
	padding: 1.8rem 1rem;
	font-family: 'Alegreya Sans', sans-serif;
}

.navbar-dark .navbar-nav .nav-link {
	color: #000;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
	color: #555;
}

.navbar a:link,
.navbar a:hover,
.navbar a:visited {
	text-decoration: none;
	color: #000;
	text-transform: uppercase;
}

.navbar-dark .navbar-toggler {
	border: none;
}

.navbar .navbar-collapse {
	text-align: center;
}

.navbar-brand {
	padding-top: 0;
}

.wrapper {
	margin: 0;
	width: 200px;
	height: 40px;
}

.menu-toggle {
	display: block;
	height: 40px;
	padding: 0;
	z-index: 1;
	background-color: transparent;
	border: 0 none;
	cursor: pointer;
	font-family: sans-serif;
	outline: medium none;
	overflow: visible;
	text-align: center;
	vertical-align: middle;
	height: 31px;
	width: 35px;
	right: 0px;
	top: 0;
	position: absolute;
}

.menu-toggle:before {
	content: attr(data-label);
	display: block;
	padding: 12px 0;
	position: absolute;
	right: 100%;
	top: 0;
	transition: color 0.2s ease 0s, opacity 0.3s ease 0s, visibility 0.3s ease 0s;
}

.menu--is-revealed .menu-toggle:before {
	opacity: 0;
	visibility: hidden;
}

.menu-toggle .icon-bars,
.menu-toggle .icon-bars:before,
.menu-toggle .icon-bars:after {
	transition: background-color 0.2s ease;
}

.menu-toggle:focus .icon-bars,
.menu-toggle:focus .icon-bars:before,
.menu-toggle:focus .icon-bars:after,
.menu-toggle:hover .icon-bars,
.menu-toggle:hover .icon-bars:before,
.menu-toggle:hover .icon-bars:after {
	background-color: #000;
}

.menu-toggle .icon-bars {
	transition: transform 0.3s ease-in, background-color 0.2s ease;
	background-color: #000;
}

.menu-toggle .icon-bars:before,
.menu-toggle .icon-bars:after {
	transition: top 0.3s 0.3s ease-in, transform 0.3s ease-in, background-color 0.2s ease;
	background-color: #000;
}

.menu-toggle:active .icon-bars,
.menu--is-revealed .menu-toggle .icon-bars {
	transition: transform 0.3s 0.2s ease-in, background-color 0.2s ease;
	transform: rotate3d(0, 0, 1, 135deg);
}

.menu-toggle:active .icon-bars:before,
.menu-toggle:active .icon-bars:after,
.menu--is-revealed .menu-toggle .icon-bars:before,
.menu--is-revealed .menu-toggle .icon-bars:after {
	transition: top 0.2s ease-in, transform 0.3s 0.2s ease-in, background-color 0.2s ease;
	transform: rotate3d(0, 0, 1, 90deg);
	top: 0;
}

.menu--is-revealed .menu-toggle {
	position: fixed;
	top: 31px;
	right: 22px;
}

.nav-item {
	font-size: 1.2rem;
}

.icon-bars {
	position: relative;
}

.icon-bars,
.icon-bars:before,
.icon-bars:after {
	display: block;
	width: 32px;
	height: 2px;
	background-color: currentColor;
}

.icon-bars,
.icon-bars:before,
.icon-bars:after {
	background-color: #273138;
}

.icon-bars:before,
.icon-bars:after {
	content: "";
	position: absolute;
	left: 0;
}

.icon-bars:before {
	top: 0.5em;
}

.icon-bars:after {
	top: -0.5em;
}

@media (min-width: 990px) {
	.navbar-brand {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		/**optional offset from top**/
		max-height: 40px;
	}
}

@media screen and (min-width:768px) {
	.navbar-brand-centered {
		position: absolute;
		left: 50%;
		display: block;
		width: 100%;
		text-align: center;
	}
	.navbar>.container .navbar-brand-centered,
	.navbar>.container-fluid .navbar-brand-centered {
		margin-left: -50%;
	}
}

.navbar-toggler-icon {
	top: 15px;
	right: 0px;
	position: absolute;
}

.navbar-dark .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
	border-color: rgb(0, 0, 0);
	z-index: 9999;
}

@media screen and (max-width:991px) {
	.navbar-collapse {
		height: 100vh;
		background-color: #e9e8e6;
		top: 0;
		left: 0;
		width: 100%;
		position: fixed;
	}
	.navbar-nav {
		position: absolute;
		top: 50%;
		left: 50%;
		height: 30%;
		width: 50%;
		margin: -15% 0 0 -25%;
	}
}

.navbar-toggler {
	height: 30px;
	width: 21px;
	position: absolute;
	right: 22px;
}

@media (min-width: 992px) {
	#social {
		display: none;
	}
}

@media (max-width: 991px) {
	#social {
		border-top: 1px solid #000;
		position: absolute;
		bottom: 0;
		width: 90%;
		margin: 5%;
	}
	#social p {
		font-size: 0.9rem;
		padding-top: 1rem;
	}
}


/* Half Page */

.Container:before {
	content: '';
	height: 100%;
	float: left;
}

.Content {
	position: relative;
	z-index: 1;
}

.Content:after {
	content: '';
	clear: both;
	display: block;
}

.Wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	color: #000;
	background-color: #e9e8e6;
}

.LeftContent {
	float: left;
	margin: 0;
	padding: 0;
}

.RightContent {
	overflow: auto;
}

@media (min-width: 1200px) {
	.Wrapper>div {
		height: 100%;
	}
}

.split-image-left {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
}

.background-1 {
	background-image: url("../img/photo-6.jpg");
}

.background-2 {
	background-image: url("../img/photo-4.jpg");
}

.split-image-right {
	padding-top: 10rem;
	padding-bottom: 10rem;
}

.signature {
	padding-top: 2rem;
	height: 6rem;
}


/* Works - Horizontal Gallery */

.swiper-container {
	width: 100%;
	height: 100%;
	margin-bottom: 5rem;
}

@media (max-width: 1200px) {
	.swiper-container {
		padding: 0 20px 0;
	}
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

 :root {
	--swiper-theme-color: #000;
}

.swiper-pagination {
	display: none;
}


/* Works */

.works {
	font-size: 1.2em;
	padding-top: 14rem;
	padding-bottom: 3rem;
}


/* Studio */

.studio {
	font-size: 1.2em;
	padding-top: 10rem;
	padding-bottom: 10rem;
}


/* Contact */

.contact {
	font-size: 1.8em;
	padding-top: 15rem;
	padding-bottom: 10rem;
}


/* Contact Form */

.contact-form {
	font-size: 1.2em;
	padding-bottom: 11rem;
}

.contact-form .btn-primary {
	color: #fff;
	background-color: #000;
	border-color: #000;
}

.contact-form .form-control {
	color: #000;
	background-color: transparent;
	border-color: #000;
	border-width: 0 0 2px 0;
	border-radius: 0;
	border-style: solid;
	font-size: 1.5rem;
}

.form-control::-webkit-input-placeholder {
	color: #000;
	opacity: 0.6;
}

.form-control {
	padding: 1.5rem 16rem 1.5rem 0.75rem
}

.contact-form .btn {
	padding: 0.8rem 4rem;
	border-radius: 5px;
}